<table class="table table-bordered" width="100%" cellspacing="0">
    <thead>
      <tr>

        <th>Id</th>
        <th>Name</th>
        <th>type</th>
        <th>employee_id</th>
        <th>nume</th>
        <th>imageType</th>
        <th>Data nasterii</th>
        <th>    <input type="text" style="width: 300px;     margin-right: 15px; " class="form-control xo" [(ngModel)]="searchTerm"
          placeholder="Search..."></th>
  
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let em of imageList | slice: (page-1) * pageSize : page * pageSize | searchImage:searchTerm ">

        <td>{{em.id}}</td>
        
        <td> {{em.name}} </td>

        <td> {{em.type}} </td>

        <td> {{em.employee.id}} </td>

        <td> {{em.employee.name}} {{em.employee.prenume}} </td>

        <td> {{em.imageType}} </td>

        <td>  <img [src]="em.picByte" alt="Imagine buletin" style="width: 50%; height: 50%;"></td>
        
        <td>  <button type="button" class="btn btn-danger" (click)="open(content, em.id)">Sterge Poza</button></td>
<!-- 
        <td> {{em.varsta | date: 'dd/MM/yyyy'}} </td>


        <td style="width: 70px;">
          <a title="More details" (click)="openEdit(contentEdit , em)" class="btn btn-warning btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-info-circle-fill" viewBox="0 0 16 16">
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </svg>

          </a>

          <button type="button" class="btn btn-danger" (click)="deleteAngajat(em.id)">Sterge</button>
          <button type="button" class="btn btn-warning" (click)="openEdit(contentEdit , em)">Detalii</button>
        </td> -->


      </tr>
    </tbody>
  </table>
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="imageList.length"></ngb-pagination>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">CONFIRMA STERGEREA IMAGINI?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
 
    <button type="button" class="btn btn-danger" (click)="deleteImage(selectedId)">Sterge Poza</button>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Inchide</button>
    </div>
  </ng-template>

  <button type="button" class="btn btn-warning" (click)="redirect()">INAPOI</button>